<%= form_for(@barcode_asset, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @barcode_asset.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@barcode_asset.errors.count, "error") %> prohibited this barcode_asset from being saved:</h4>

      <ul>
      <% @barcode_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :barcodenum, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :barcodenum, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :asset_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :asset_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :updatedon, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :updatedon, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :assigned_by_custodian, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:assigned_by_custodian, Custodian.all, :id, :employee_id, :prompt => true, :class => "form-control" )%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
