<div class="page-header">
  <%= link_to new_asset_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Asset
  <% end %>
  <h1>Listing assets</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Category</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Serialnum</th>
            <th>Description</th>
            <th>Purchase date</th>
            <th>Qty</th>
            <th>Custodian</th>
            <th>Employee</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @assets) do |asset| %>
            <td><%= asset.category_id %></td>
            <td><%= asset.brand_id %></td>
            <td><%= asset.model %></td>
            <td><%= asset.serialnum %></td>
            <td><%= asset.description %></td>
            <td><%= asset.purchase_date %></td>
            <td><%= asset.qty %></td>
            <td><%= asset.custodian_id %></td>
            <td><%= asset.employee_id %></td>
            <td><%= link_to 'Show', asset %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
